<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flickrAccount</key>
	<dict>
		<key>api_key</key>
		<string>a73d15993130578b1489177a9912aeaa</string>
		<key>signature</key>
		<string>f454cf953f00d0819ccf5064242f9e71</string>
	</dict>
</dict>
</plist>
